@model IEnumerable<eManager.Domain.Department>

@{
	ViewBag.Title = "All departments";
}

<h1>@ViewBag.Title</h1>

<ul>
	@foreach (var department in Model)
	{
		<li>
			@Html.ActionLink(linkText: department.Name, actionName: "Details", controllerName: "Department", routeValues: new {id = department.Id}, htmlAttributes: null)
		</li>
	}
</ul>

